﻿@model CertificateViewModel
@{
    ViewBag.Title = "Create certificate";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <h2 class="page-header">Create certificate</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="form-group">
                    @Html.LabelFor(m => m.Number, "Number")
                    @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Number, string.Empty, new { @class = "hidden" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ValidFrom, "Valid from")
                    @Html.TextBoxFor(m => m.ValidFrom, new { @class = "form-control", type = "date"})
                    @Html.ValidationMessageFor(m => m.ValidFrom, string.Empty, new { @class = "hidden" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ValidTo, "Valid to")
                    @Html.TextBoxFor(m => m.ValidTo, new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(m => m.ValidTo, string.Empty, new { @class = "hidden" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ClientId, "Client")
                    @Html.DropDownListFor(m => m.ClientId, new SelectList(Model.Clients, "Id", "FullName"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ClientId, string.Empty, new { @class = "hidden" })
                </div>
                <input type="submit" class="btn btn-info" value="Save" />
            }
        </div>
    </div>
</div>