﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Notification Center</title>

    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Notification Center", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Orders", "Index", "Home")</li>
                    <li>@Html.ActionLink("Create certificate", "Create", "Certificates")</li>
                    <li>@Html.ActionLink("Log Out", "Logout", "Accounts")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 100px">
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/bower_components/jQuery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/bower_components/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/common/jquery.val.bootstrap.js"></script>
    <script type="text/javascript" src="~/bower_components/signalr/jquery.signalR.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Content/js/notifications/notifications.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
