﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Notification Center</title>

    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/bower_components/jQuery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/bower_components/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/common/jquery.val.bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
