﻿@model LoginViewModel
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Login";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <h2 class="page-header">Login</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User name", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.UserName, string.Empty, new { @class = "hidden" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "hidden" })
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, "Remember me")
                </div>
                <input type="submit" class="btn btn-info" value="Login" />
            }
        </div>
    </div>
</div>