﻿@using NotificationCenter.Models.Domains.Orders;

@model IEnumerable<OrderDetails>

@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Number</td>
            <td>Type</td>
            <td>Status</td>
            <td>Client</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderDetails order in Model)
        {
            <tr data-order-id="@order.Id">
                <td>@order.Number</td>
                <td>@order.Type.Name</td>
                <td>@order.Status.Name</td>
                <td>@order.Client.FirstName @order.Client.LastName</td>
                <td>
                    <button type="button" class="change-status">Change Status</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('.change-status').on('click', function () {
                var orderId = $(this.closest('tr')).data('order-id');

                // Get random status between 1 and 4
                var statusId = Math.floor(Math.random() * (4 - 1 + 1)) + 1;

                $.ajax({
                    url: '/orders/updateStatus',
                    type: 'POST',
                    data: {
                        orderId: orderId,
                        statusId: statusId
                    }
                }).then(function () {
                    // update grid.
                }).catch(function () {
                    // handle error.
                })
            });
        });
    </script>
}